@import url("./reset.css");
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(201, 160, 248);
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
}
.profile-img { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.card-header {
    display: flex;
    justify-content: center;
   
}
.card-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
    justify-items: stretch;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.name {
    font-size: 2rem;
    font-weight: bold;
}

.company {
    font-size: 1.25rem;
    font-weight: bold;
}
.role {
    font-size: 1.25rem;
}
   
@media (min-width: 700px) {
    .card-body {
        grid-template-columns: 2fr 1fr;
        column-gap: .5rem;
        text-align: center;
        justify-items: start;
    }
}

@media (min-width: 1024px) {
   .contact-card {
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap: 3rem;
       
   }
 
  .card-body {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
  }
}